<div class="index">
	<h1>Happy Birthday, Colie!</h1>
	<br>
	<p>It wouldn't be your birthday without a game. Tap below to get started.</p>

	<br>
	<br>
	{{#link-to 'game' tagName='button'}}Not this again{{/link-to}}
</div>